/* login css */
    

html{min-height:100%;position:relative;}
body{
    background-color: rgb(240, 240, 240);
    height:100%;}
#image_container{
        position:absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        overflow:hidden;
        z-index:-1;
        background: url("/images/neutiback.png") no-repeat center center fixed;
    }
    #form_container{
        position:absolute;
        top:6rem;
        bottom:0;
        right:23%;
        overflow:hidden;
        z-index:-1;
    }
    #form_container h1{
        text-align: left;
        color:rgb(50,55,95);
    }
    .img-fluid{
    margin-top: 170px;
    margin-left: 32%;
    margin-right: 0;
    width: 50%;
    height: 25rem;
    border-radius: 5%;
}

    #image_container{
        width:60%;
    }
    #form_container{
        width:30%;
    }
#title{
    margin-top:1rem;
    text-align: center;
    font-weight: bold;
    /* text-shadow: 1px 1px 1.5px gray; */
}
    
/*
@media (min-width: 848px ) and (max-width: 1414px) {
    #image_container{
        width:60%;
    }
    #form_container{
        width:40%;
    }
}
@media (max-width: 848px ){
    #image_container{
        display:none;
        background-color: white;
    }
    #form_container{
        width:100%;
        padding:0
    }
} */
#unlocked{
    display:none;
    position: absolute;
    top: 50%;
    left: 45%;
    margin:-150px 0 0 -150px;
    background-color: rgba(255, 255, 255, 0.8);
}
#sidebtt{
    border-radius:50%; margin-top: 1%; margin-right: 2%;
}